@model IEnumerable<Irimies_Mircea_Proiect_Medii_de_Programare.Models.Antrenor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_nasterii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.echipa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_nasterii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.echipa.nume_echipa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AntrenorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AntrenorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AntrenorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
